.container {
    width: -webkit-fill-available;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.btn--upper-right {
    position: fixed;
    top: 0;
    right: 0;
}
