li .list {
    height: 56px;
    padding-right: 140px;
    padding-left: 16px;
}
li .actions {
    right: 0;
}

li .listText span {
    color: rgba(0, 0, 0, 0.87);
}

li .listText p {
    font-size: 10px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}

li .listText {
    margin: 0;
}
