.Base {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: linear-gradient(156.98deg, #fa541c -164.31%, #454545 101.04%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LogoBase {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #fa541c;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 0 100px #fa541c, 0 0 50px #fa541c,
        0 0 23px rgba(0, 0, 0, 0.25);
}

.Container {
    text-align: center;
    margin-top: 60px;
    color: #fff;
    padding: 0 40px;
}

.Title {
    margin-bottom: 20px;
}

.Container .GetStartedButton {
    text-transform: uppercase;
    height: 36px;
    background-color: #ff5722;
    color: #fff;
    margin-top: 28px;
}

.Container .desc {
    max-width: 200px;
    margin-top: 16px;
}
