.Base {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 42px;
}

.Base .Container {
    margin-top: 40px;
    padding: 0 16px 20px;
}

.Base .Container .Title {
    margin-bottom: 16px;
}
