button.actionButton {
    box-shadow: none;
    background-color: #4054b2;
    color: #fff;
    height: 24px;
    border-radius: 17px;
    padding: 0 8px;
    min-width: 34px;
    font-size: 0.75rem;
}

.wrap {
    position: relative;
    display: inline-block;
}

.wrap .error {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    margin-left: 12px;
    min-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
