button.actionButton {
    box-shadow: none;
    background-color: #4054b2;
    color: #fff;
    height: 24px;
    border-radius: 17px;
    padding: 0 8px;
    min-width: 80px;
    font-size: 0.75rem;
}

button.actionButton.openButton {
    background-color: transparent;
    color: #4054b2;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.wrap .statusMessage {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    line-height: 36px;
    font-size: 10px;
    margin-left: 12px;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fafafa;
}

.progressButton {
    position: relative;
    width: 36px;
    height: 36px;
}

.progressButton .progress {
    position: absolute;
    top: 0%;
    left: 0%;
    max-width: 36px;
    max-height: 36px;
    color: #dadada;
    z-index: 0;
}

.progressButton .progress.active {
    color: #c5cae9;
}
.progressButton .progressFab {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    min-height: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: none;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.progressButton .progressFab:hover {
    background-color: transparent;
}

.progressButton .pauseButton {
    fill: #4054b2;
}

.progressButton .cancelButton {
    fill: #ff0c3e;
}
