.wrap {
    width: 100%;
    position: relative;
    padding: 30px 0 24px;
    background-color: #fafafa;
    box-sizing: border-box;
}
.wrap .appIcon {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 24px;
}
.wrap .appDesc {
    margin-bottom: 16px;
}
.wrap .appDesc p {
    margin-bottom: 30px;
    padding: 0 24px;
    color: rgba(0, 0, 0, 0.6);
}
.wrap .error {
    margin-bottom: 16px;
}
.appInfo {
    padding-bottom: 25px;
    padding-left: 24px;
}
.appInfo .author {
    display: block;
    margin-top: 10px;
}
.appInfoActions {
    margin-top: 16px;
}
.appInfoActions .appSize {
    margin-left: 16px;
}
.appInfoActions .appSize h2 {
    line-height: 24px;
}
.markdownWrap {
    padding: 0 24px;
}
.markdown h3 {
    font-size: 16px;
    margin-bottom: 12px;
}

.markdown h4 {
    font-size: 14px;
    margin-bottom: 12px;
}

.markdown h5 {
    font-size: 12px;
    margin-bottom: 12px;
}

.markdown ul {
    margin: 12px 0;
    padding-left: 20px;
}
.markdown ul li {
    padding-bottom: 16px;
    font-size: 12px;
}
.markdown pre {
    width: 100%;
    overflow: auto;
    max-width: 320px;
}

p.markdown {
    color: rgba(0, 0, 0, 0.6);
}
