.menu-item {
    width: -webkit-fill-available !important;
    min-height: 35px !important;
    border-bottom: 1px solid #bdbdbd !important;
}

.menu-item:last-child {
    border-bottom: 0 !important;
}
