.root {
    flex-grow: 1;
    min-height: 48px;
}

.title {
    flex-grow: 1;
}

.appLogo {
    height: 24px;
    flex-grow: 1;
}
.appLogo img {
    height: 100%;
}

.BackButton svg {
    fill: white;
}

/*
.base {
    background-color: rgba(255, 255, 255, 0.58);
}
.base .wrap {
    justify-content: space-between;
    min-height: 48px;
}

.navigation {
    margin-left: 16px;
}
.navigation .title {
    float: right;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.87);
}


*/
