.base {
    background-color: rgba(255, 255, 255, 0.58);
}
.base .wrap {
    justify-content: space-between;
    min-height: 48px;
}
.appLogo {
    height: 24px;
}
.appLogo img {
    height: 100%;
}
.navigation {
    margin-left: 16px;
}
.navigation .title {
    float: right;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.87);
}

.BackButton svg {
    fill: rgba(0, 0, 0, 0.54);
}
