.standardWindow {
    height: 100%;
    box-sizing: border-box;
}

.containerBase {
    height: 100%;
    position: relative;
    z-index: 0;
}

.gridContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 24px 48px auto;
}

.trayWindow {
    height: 100%;
    grid-template-rows: 0 48px auto;
}

.gridContainer .headerBar {
    grid-row: 2;
}

.gridContainer .containerBase {
    grid-row: 3;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
