.standardWindow {
    box-sizing: border-box;
}

.gridContainer {
    display: grid;
    height: 100%;
    grid-template-rows: 24px 56px auto;
}

.trayWindow {
    grid-template-rows: 0 56px auto;
}

.gridContainer .headerBar {
    grid-row: 2;
}

.gridContainer .containerBase {
    grid-row: 3;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
